body#home{
    background: linear-gradient(to bottom, #0b0c10, #0d3549);
    color: #c5c6c7;
    font-family: Inter;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1,h2{
    font-family: Oswald;
}
header{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: Oswald;
    text-align: center;
    padding: 50px 20px;
}
header p{
    font-size: 1.4rem;
}
header img{
    max-width: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgb(233, 237, 236);
    margin-top: 20px;
}
#home .portrait{
    width: 1000px;
    height:auto;
    dispaly:black;
    margin:20px auto;
}
.cinematic-line{
    display:block ;
    font-style: italic;
    font-size: 1.2em;
    color: #7ef2f2;
    margin-top: 15px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px 0;
}
nav a{
    font-family: Oswald;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}
nav a:hover{
    color: #65d1fcd4;
    }
footer{
    margin-top: 70px;
    text-align: center;
    padding: 15px;
    background-color:#0b0c10;
    color: #cccdcd;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-family: Oswald;
    background: linear-gradient(to bottom, #000000, #000101);
}

footer a {
    text-decoration: none;
    border: none;
    margin-bottom: 20px;
}


body#filmography{
    background: linear-gradient(to bottom, #000000,#05202e);
    color: #c5c6c7;
    font-family: Oswald ;
    line-height: 1.7;
    margin: 0 auto;
    padding: 0 0;
}
#filmography section{
    padding: 15px 30px;
}
#filmography span{
    color: #7ef2f2;
}
#filmography p{
    font-size: 1.25rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#filmography li{
    font-size: 1.3rem;
}
table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 30px;
    border: 3.5px solid #000101;
}
th{
    background-color: #cbdae0;
    color: #000000;
    padding: 6px;
    text-align: left;
}
td{
    padding: 4px;
}
tr:hover{
    background-color: #000000;
}
th,td{
    border: 3px solid #000b0e;
    font-size: 1.15rem;
}
tr.Upcoming{
    text-align: center;
    font-weight: bold;
}
body#interstellar{
    background: linear-gradient(to bottom,#04202e, #000000);
    color: #e0e1e2;
    font-family: Oswald ;
    line-height: 1.7;
    margin: 0 auto;
    padding: 0 0;
}
#interstellar footer{
    background: rgb(37, 37, 37) !important;
}
#interstellar span{
    color: #7ef2f2;
}
#interstellar p{
    font-size: 1.25rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#interstellar h2{
    font-family: Oswald;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 0;
}
#interstellar section{
    padding: 20px;
}
#interstellar li{
    font-size: 1.25rem;
}
#interstellar .video-frame{
    max-width: 900px;
    margin: 3rem auto;
    padding: 1rem;
    background: #0e1117;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}
#interstellar video{
    width: 100%;
    border-radius: 10px;
    display: block;
}
#interstellar .audio-box{
    max-width: 600px;
    margin: 2.5rem auto;
    padding: 1.2rem 1.5rem;
    background: #11151c;
    border-radius: 12px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.5)
}
#interstellar audio{
    width: 100%;
}

body#page404{
    background-color: #0b0e14;
    color: #f5f5f5;
    font-family: Oswald;
    text-align: center;
    padding: 8rem 1rem;
}
#page404 h1{
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #e63946;

}
#page404 p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#page404 a{
    color: #f5f5f5;
    text-decoration: none;
    border: 2px solid #f5f5f5;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition:0.3s ;
}
#page404 a:hover{
    background-color: #f5f5f5;
    color: #0b0e14;
}










